html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: dosis-200;
  src: local("dosis-200"),
    url("../assets/fonts/Dosis-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: dosis-300;
  src: local("dosis-300"),
    url("../assets/fonts/Dosis-Light.ttf") format("truetype");
}

@font-face {
  font-family: dosis-400;
  src: local("dosis-400"),
    url("../assets/fonts/Dosis-Regular.ttf") format("truetype");
}

@font-face {
  font-family: dosis-500;
  src: local("dosis-500"),
    url("../assets/fonts/Dosis-Medium.ttf") format("truetype");
}

@font-face {
  font-family: dosis-600;
  src: local("dosis-600"),
    url("../assets/fonts/Dosis-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: dosis-700;
  src: local("dosis-700"),
    url("../assets/fonts/Dosis-Bold.ttf") format("truetype");
}

@font-face {
  font-family: dosis-800;
  src: local("dosis-800"),
    url("../assets/fonts/Dosis-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: poppins;
  src: local("poppins"),
    url("../assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: poppins-bold;
  src: local("poppins-bold"),
    url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: poppins-thin;
  src: local("poppins-thin"),
    url("../assets/fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: poppins-extra-light;
  src: local("poppins-extra-light"),
    url("../assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: poppins-light;
  src: local("poppins-light"),
    url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: poppins-regular;
  src: local("poppins-regular"),
    url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: poppins-semibold;
  src: local("poppins-semibold"),
    url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: poppins-medium;
  src: local("poppins-medium"),
    url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
}

.poppins-medium {
  font-family: "poppins-medium";
}

.poppins-thin {
  font-family: "poppins-thin";
}

.poppins-extra-light {
  font-family: "poppins-extra-light";
}

.poppins-light {
  font-family: "poppins-light";
}

.poppins-regular {
  font-family: "poppins-regular";
}

.poppins-semibold {
  font-family: "poppins-semibold";
}

.poppins {
  font-family: "poppins";
}

.poppins-bold {
  font-family: "poppins-bold";
}


.dosis-200 {
  font-family: "dosis-200";
}

.dosis-300 {
  font-family: "dosis-300";
}

.dosis-400 {
  font-family: "dosis-400";
}

.dosis-500 {
  font-family: "dosis-500";
}

.dosis-600 {
  font-family: "dosis-600";
}

.dosis-700 {
  font-family: "dosis-700";
}

.dosis-800 {
  font-family: "dosis-800";
}

.grey-color {
  color: #1F7070;
}
